@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}

/* Catppuccin Frappe */
:root {
  --task-bar: rgb(35, 38, 52),
    --drop-down:rgb(65, 69, 89),
    --bg-color: rgb(48, 52, 70, 0.9),
    --color_01: rgb(81, 87, 109),
    --color_02: rgb(231, 130, 132),
    --color_03: rgb(166, 209, 137),
    --color_04: rgb(229, 200, 144),
    --color_05: rgb(140, 170, 238),
    --color_06: rgb(244, 184, 228),
    --color_07: rgb(129, 200, 190),
    --color_08: rgb(181, 191, 226)
}

.terminal-body {
  font-family: 'Hack', monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.color-1 {
  color: var(--color_01);
}

.color-2 {
  color: var(--color_02);
}

.color-3 {
  color: var(--color_03);
}

.color-4 {
  color: var(--color_04);
}

.color-5 {
  color: var(--color_05);
}

.color-6 {
  color: var(--color_06);
}

.color-7 {
  color: var(--color_07);
}

.color-8 {
  color: var(--color_08);
}


.bgcolor-1 {
  background-color: var(--color_01);
}

.bgcolor-2 {
  background-color: var(--color_02);
}

.bgcolor-3 {
  background-color: var(--color_03);
}

.bgcolor-4 {
  background-color: var(--color_04);
}

.bgcolor-5 {
  background-color: var(--color_05);
}

.bgcolor-6 {
  background-color: var(--color_06);
}

.bgcolor-7 {
  background-color: var(--color_07);
}

.bgcolor-8 {
  background-color: var(--color_08);
}


html {
  background-color: var(--bg-color);
  background-image: url('https://github.com/akukerang/akukerang/blob/main/mountain.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}