.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin: auto;
}

.carousel-images {
    height: 50%;
}

.carousel-images img {
    width: 35vw;
    min-height: 30vh;
    max-height: 50vh;
    object-fit: contain;

}


.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    /* padding: 0.5rem rem; */
    padding: 0.8vh 1.3vw;
    cursor: pointer;
    font-size: 2vh;
}
