.command-body {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
}
.typing {
  animation: typing 2s steps(60, end);
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.cursor {
  display: inline-block;
  width: .6vw;
  height: 1em;
  background-color: var(--color_08);
}

.blinking {
  animation: blink 1.5s step-end infinite;
  height: 1.1em;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
