.list-item {
    color: var(--color_05);
    text-decoration: underline;
    font-size:2.3vh;
}

list-item:hover {
    filter: brightness(0.8);
}

.lsbody {
    display: flex;
    gap: .8vw;
}

.lsbody .active {
    color: var(--color_07);
}