/* .neobody {
  display: flex;
}


.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1vh 4vw 1vh 1vw;
}

.profile-pic img {
  width: 20vw;
}

.links {
  display: flex;
}

.first-link {
  margin-left: .8vw;
}

.links a {
  color: var(--color_04);
  text-decoration: underline;
  transition: filter 0.3s;
  margin-right: .8vw;

  
}

.links a:hover {
  filter: brightness(0.8);
}

.color-palette {
  display: flex;
  margin-top: 4vh;
  align-items: left;
}

.color-block {
  width: 1.8vw;
  height: 5.4vh;

}

.neobody h1 {
  font-size: 3.3vh;

} */